body {
  background: url(../imgs/bg.svg);
  background-size: 100px;
  background-position-x: 0;
  background-position-y: 0;
  overflow: filed;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
